
@{
    ViewBag.Title = "Error";
}
<h2 class="Error">Error</h2>

<div class="Error">
    <p>
        The Home Team cannot be the same as the Away Team.
        Your changes have not been saved. Please press the back button to try again.
    </p>
</div>