@{
    ViewBag.Title = "Home Page";
}

<body class="body">

            <div class="jumbotron jumbo2">
                <h1>League Manager 2019</h1>
                <h3 class="welcome">Welcome to your league!</h3>

                <p>
                    <a href="~/Home/Feed" class="btn btn-primary btn-lg">Upcoming Games</a>
                </p>
                <p>
                    <a class="btn btn-default" href="~/Account/Login">Log in</a>
                    <a class="btn btn-primary" href="~/Account/Register">Register</a>
                </p>



                @*@if (Request.IsAuthenticated)
                {
                    <p>
                        <a href="~/Home/Index2" class="btn btn-primary btn-lg">Upcoming Games</a>
                    </p>
                }
                else
                {
                    <p>
                        <a class="btn btn-default" href="~/Account/Login">Log in</a>
                        <a class="btn btn-primary" href="~/Account/Register">Register</a>
                    </p>
                }*@
            </div>
</body>