
@{
    ViewBag.Title = "Same Day Error";
}

<h2 class="Error">Error</h2>

<div class="Error">
    <p>
        At least one of the teams you selected already has a game on that day.
        Please check your information and press the back button to try again.
    </p>
</div>
